@model UpdateAboutDto
@{
    ViewData["Title"] = "Hakkımda Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="AboutId" />
    <label>Açıklama</label>
    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
    <br />
    <label>Resim Url 1</label>
    <input type="text" asp-for="ImageUrl1" class="form-control" />
    <br />
    <label>Resim Url 2</label>
    <input type="text" asp-for="ImageUrl2" class="form-control" />
    <br />
    <label>Madde 1</label>
    <input type="text" asp-for="Item1" class="form-control" />
    <br />
    <label>Madde 2</label>
    <input type="text" asp-for="Item2" class="form-control" />
    <br />
    <label>Madde 3</label>
    <input type="text" asp-for="Item3" class="form-control" />
    <br />
    <label>Madde 4</label>
    <input type="text" asp-for="Item4" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>
