

<aside class="single_sidebar_widget newsletter_widget">
    <h4 class="widget_title" style="color: #2d2d2d;">Abone Bülteni</h4>
    <form method="post" asp-action="Subscribe" asp-controller="Blog">
        <div class="form-group">
            <input type="email" name="Email" class="form-control" onfocus="this.placeholder = ''"
                   onblur="this.placeholder = 'Emailinizi Yazın'" placeholder='Emailinizi Yazın' required>
        </div>
        <button onclick="subscribe()" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                type="submit">
            Abone Ol
        </button>
    </form>


</aside>


<script>

    function subscribe() {



        Swal.fire({
            title: "Abone Olma İşlemi Başarılı",
            text: "Abone olduğunuz için teşekkürler",
            icon: "success",
            showCancelButton: false,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Tamam",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {

                window.location.href = "/Blog/Index";

            }
        });

    }

</script>