

<div class="row">
    <div class="col-12">
        <iframe src="@ViewBag.map" width="1200" height="900" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>