@model UpdateBlogDto
@{
    ViewData["Title"] = "Blog Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="BlogId" />
    <label>Blog Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Blog Kategorisi</label>
    <select asp-items="@ViewBag.categories" asp-for="BlogCategoryId" class="form-control">
        <option>Kategori Seçin</option>
    </select>
    <label>Blog İçeriği</label>
    <textarea type="text" asp-for="Content" class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>

</form>

