@model List<ResultBannerDto>

<div class="slider-area ">
    <div class="slider-active">


        @foreach (var item in Model)
        {
            
     
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-7 col-md-8">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".2s">Popüler Çevrimiçi Kurslar</span>
                            <h1 data-animation="fadeInLeft" data-delay=".4s">@item.Title</h1>
                            <!-- Hero-btn -->
                            <div class="hero__btn">
                                <a href="industries.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Hemen Başla</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="hero-man d-none d-lg-block f-right" data-animation="jello" data-delay=".4s">
                            <img src="@item.ImageUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
     
     
    </div>
</div>