@model CreateRoleDto
@{
    ViewData["Title"] = "Yeni Rol Oluşturma Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <label>Rol Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>
