@model CreateContactDto
@{
    ViewData["Title"] = "Yeni İletişim Bilgisi Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <label>Harita Url</label>
    <input type="text" asp-for="MapUrl" class="form-control" />
    <br />
    <label>Adres</label>
    <input type="text" asp-for="Address" class="form-control" />
    <br />
    <label>Telefon</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <br />
    <label>Email</label>
    <input type="text" asp-for="Email" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>
