@model UpdateCourseCategoryDto
@{
    ViewData["Title"] = "Kurs Kategorisi Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form method="post">
    <input type="hidden" asp-for="CourseCategoryId" />
    <label>Kurs Kategori Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Açıklama</label>
    <textarea type="text" asp-for="Description" class="form-control" rows="3"></textarea>
    <br />
    <label>İkon</label>
    <input type="text" asp-for="Icon" class="form-control" />
    <br />
    <label>Ana Sayfada Gösterilsin</label> <input type="checkbox" asp-for="IsShown" class="form-check" />
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>
