@model CreateCourseVideoDto
@{
    ViewData["Title"] = "Yeni Video Ekle";
    Layout = "~/Areas/Teacher/Views/TeacherLayout/Index.cshtml";
}

<h3>Kurs Adı: <strong>@ViewBag.courseName</strong></h3>
<br />
<form method="post">
    <input type="hidden" value="@ViewBag.courseId" name="CourseId" />
    <label>Video Sıra No</label>
    <input type="number" asp-for="VideoNumber" class="form-control" required/>
    <br>
    <label>Video Url</label>
    <input type="text" asp-for="VideoUrl" class="form-control" required/>
    <br>
    <button class="btn btn-outline-primary">Kaydet</button>
</form>
